.link {
  color: grey;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color:#664982;
}

.active {
  color:#664982;
 ;
}
